.home {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("/assets/sofbox-sass-black/saas-bg.png");
}

.header {
  width: 100%;
  height: 600px;
  margin-top: 0;
}

.header-background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background: url(/assets/departure_background.png);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  width: inherit;
  height: inherit;
}

.header-content {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  margin-left: 20px;
  margin-right: 20px;
}

.header-search {
  text-align: center;
  width: 400px;
}

.search-spinner {
  margin:auto;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.search-container {
  display: flex;
  flex-direction: row;

  width: 456px;
  --tui-link: #ff9729;
}

.search-container button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-container tui-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.board-example {
  background-color: black;
  border-radius: 20px;
  width: 300px;
  /* border: 2px solid #ff9729; */
  box-shadow: 0 0 20px #ff9729;
  box-shadow: 0 0 5px #ff9729 inset;
}

.board {
  padding: 10px;
}
