<tui-root>
  <article>
    <div class="header">
      <div class="header-background"></div>
      <div class="header-content">
        <h1 class="header-title led">Led Departure Board</h1>

        <form class="search-container" (ngSubmit)="Search()">
          <tui-input
            class="header-search"
            tuiTextfieldSize="l"
            tuiTextfieldCleaner="true"
            tuiMode="onDark"
            [formControl]="searchForm"
            *tuiLet="stationLookup$ | async as stations"
            tuiTextfieldCleaner="true"
          >
            Search a Station
            <ng-container *ngIf="stations; else loading">
              <tui-data-list *tuiDataList>
                <button
                  *ngFor="let station of stations"
                  tuiOption
                  value="{{ station.name }} - ({{ station.code }})"
                >
                  {{ station.name }} - ({{ station.code }})
                  <tui-avatar
                    size="xs"
                    [avatarUrl]="getCountryLogo(station)"
                    [text]="station.country"
                  ></tui-avatar>
                </button>
              </tui-data-list>
            </ng-container>
          </tui-input>

          <button tuiIconButton type="submit" appearance="secondary">
            <mat-icon>search</mat-icon>
          </button>
        </form>
      </div>
    </div>

    <section class="centre-text">
      <h2 class="led">About</h2>
      <br />
      <p style="font-size: 18px">
        Led Departure Board is a webapp designed to re-create the platform signs
        you get at British and German train stations.<br />
        The data is collected live from multiple datasource's and displayed in different
        custom panels.
      </p>
    </section>

    <section class="news-container">
      <h2 class="led centre-text">News</h2>
      <br />
      <app-components-widgets-news></app-components-widgets-news>
    </section>

    <section class="howToUse-container autofit-container">
      <h2 class="led centre-text">How to Use</h2>
      <a
        tuiButton
        href="https://docs.leddepartureboard.com/docs/getting-started/introduction"
        target="_blank"
        >Learn More</a
      >
    </section>

    <section *ngIf="!(isHandset$ | async)">
      <h2 class="led centre-text"><a class="led" href="singleboard/EUS">Example (London Euston)</a></h2>
      <br />
      <app-singleboard
        stationCode="EUS"
        [positionAbsolute]="false"
        [showStationName]="false"
        [showClock]="false"
        [changeTitle]="false"
      ></app-singleboard>
    </section>

    <section class="features-container">
      <h2 class="led centre-text">Features</h2>
      <br />
      <app-features></app-features>
    </section>

    <section class="autofit-container">
      <h2 class="led centre-text">Data Sources</h2>
      <ul class="tui-list tui-list_large">
        <li class="tui-list__item">
          <div class="tui-list__item-title">Real Time Trains</div>
          <div class="tui-list__description">
            UK Live Departure Data is provided by the
            <a href="https://www.realtimetrains.co.uk/" target="_blank"
              >Realtime Trains API</a
            >. This api then talks to network rail to get the data back. This
            means we receive the most up to date data from network rail.
          </div>
        </li>
        <li class="tui-list__item">
          <div class="tui-list__item-title">National Rail</div>
          <div class="tui-list__description">
            <ul class="tui-list tui-list_linear tui-list_nested">
              <li class="tui-list__item">
                The search functionality is powered by the national rail data
                feed (NRE). For more information visit,
                <a
                  href="https://www.nationalrail.co.uk/100296.aspx"
                  target="_blank"
                  >https://www.nationalrail.co.uk/100296.aspx</a
                >
              </li>
              <li class="tui-list__item">
                Departure Data can also be fetched from national rail (Including
                train car length for certain services) by changing the data
                source in settings. This is fetched using the darwin api
              </li>
            </ul>
          </div>
        </li>
        <li class="tui-list__item">
          <div class="tui-list__item-title">DeutscheBahn API</div>
          <div class="tui-list__description">
            Search and Live Departures for Germany are provided by the
            <a
              href="https://developer.deutschebahn.com/store/site/pages/home.jag"
              >DeutscheBahn API</a
            >. Note they only supply data relating to there trains.
          </div>
        </li>
      </ul>
    </section>

    <section class="centre-text">
      <h2 class="led">Project Info</h2>
      <br />
      <p style="font-size: 16px">
        This is an open source project so is free to used under the Apache-2.0
        Liscense.<br />
        For more info or for the source code of the project then visit the
        <a
          style="font-weight: bold"
          href="https://github.com/benfl3713/DepartureBoard"
          target="_blank"
          >github page</a
        >
      </p>
    </section>

    <section class="centre-text">
      <h2 class="led">Contact Me</h2>
      <br />
      <p style="font-size: 16px">
        To contact me for more information feel free to send an email to
        <strong
          ><a
            href="mailto:info@leddepartureboard.com?subject=Led Departure Board"
            >info@leddepartureboard.com</a
          ></strong
        ><br />Or start an issue/discussion on
        <a href="https://github.com/benfl3713/DepartureBoard" target="_blank"
          >github</a
        >
      </p>
    </section>
  </article>

  <app-components-footer></app-components-footer>
</tui-root>
