<article>
  <section class="header">
    <div class="header-background"></div>
    <div class="header-content">
      <h1 class="header-title led">Led Departure Board</h1>
    </div>
  </section>

  <section class="news-container">
    <h2 class="led centre-text">News</h2>
    <app-components-widgets-news></app-components-widgets-news>
  </section>

<section class="features-container">
  <h2 class="led centre-text">Features</h2>
</section>

  <section class="search-container">
    <h2 class="led centre-text">Find your Station</h2>
    <app-components-search></app-components-search>
  </section>
</article>
