<h1 id="title" class="led centre-text">About</h1>
<div class="container">
  <mat-list id="about-types" class="orange">
    <mat-action-list>
      <a
        mat-list-item
        class="orange"
        [routerLink]="['/about/custom-departures']"
      >
        <strong>Custom Departures</strong> - Learn how to create and use the
        custom departures feature
      </a>
      <a
        mat-list-item
        class="orange"
        [routerLink]="['/about/departureboard-admin']"
      >
        <strong>Departure Board Admin</strong> - Learn how to setup and use
        departure board admin for remote managment
      </a>
    </mat-action-list>
  </mat-list>
</div>
