<section id="contact">
  <app-black-card-style1>
    <div cardContent>
      <app-black-section-title
        title="Contact"
        subtitle="How to Contact Us"
      ></app-black-section-title>
      <ul style="font-size: 20px">
        <li>
          Feel free to contact me if you have any questions or feature
          requests on
          <a href="mailto:info@leddepartureboard.com"
            >info@leddepartureboard.com</a
          >
          <br /><em>Please note that this is just my side project so I may be slow to reply.</em>
        </li>
        <li>
          Or start an issue/discussion on
          <a
            href="https://github.com/benfl3713/DepartureBoard"
            target="_blank"
            >github</a
          >
        </li>
        <li>
          Join our discord server: <a href="https://discord.gg/R34g9xd7W8" target="_blank">https://discord.gg/R34g9xd7W8</a>
        </li>
      </ul>
    </div>
  </app-black-card-style1>
</section>
