<div class="container">
  <h1 id="search-title" class="led centre-text clickable" style="padding-left: 10px" [routerLink]="['/search']">
    Search
  </h1>
  <form class="example-form">
    <mat-form-field id="search-box">
      <mat-icon matIconPrefix style="padding-bottom: 30px">search</mat-icon>
      <mat-label>Station Name</mat-label>
      <input type="text" placeholder="Ex. Euston" aria-label="station name" matInput [formControl]="searchBox"
        [matAutocomplete]="auto" (keyup)="keyPressed()" />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="stationDisplay">
        <mat-option *ngFor="let station of filteredOptions" [value]="station">
          {{ station.name }} - ({{ station.code }}) - [{{ station.country }}]
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div class="options">
      <mat-checkbox [formControl]="isSingleboard">Singleboard</mat-checkbox>
      <mat-checkbox [formControl]="isArrivals">Arrivals</mat-checkbox>
    </div>

    <button mat-button id="btnSearch" (click)="Search()">Search</button>
  </form>
</div>
