<div class="container">
  <h2 id="search-title" class="led-bold centre-text clickable" style="padding-left: 10px" [routerLink]="['/search']">
    Search
  </h2>
  <form class="example-form">
    <mat-form-field id="search-box">
      <input type="text" placeholder="Station Name" aria-label="station name" matInput [formControl]="searchBox"
        [matAutocomplete]="auto" (keyup)="keyPressed()" />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="stationDisplay">
        <mat-option *ngFor="let station of filteredOptions" [value]="station">
          {{ station.name }} - ({{ station.code }}) - [{{ station.country }}]
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div class="options">
      <mat-checkbox [formControl]="isSingleboard">Singleboard</mat-checkbox>
      <mat-checkbox [formControl]="isArrivals">Arrivals</mat-checkbox>
    </div>

    <button mat-button id="btnSearch" (click)="Search()">Search</button>
  </form>
</div>
