<header>
  <nav class='navbar navbar-expand navbar-dark' *ngIf="showHome">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item" [routerLinkActive]='["page-selected"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a class="nav-link text-light" [routerLink]='["/"]'><span class='fas fa-home'></span> Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]='["page-selected"]'>
          <a class="nav-link text-light" [routerLink]='["/search"]'><span class='fas fa-search'></span> Search</a>
        </li>
        <li class="nav-item" [routerLinkActive]='["page-selected"]'>
          <a class="nav-link text-light" [routerLink]='["/examples"]'><span class='far fa-lightbulb'></span> Examples</a>
        </li>
      </ul>
      <ul class="navbar-nav order-3 ml-auto">
        <li class="dropdown" *ngIf="showMainBoardOptions">
          <select id="displayCount" class="dropdown-toggle" (change)="ChangeBoardCount()">
            <option value="2">2</option>
            <option value="6" selected="selected">6</option>
            <option value="12">12</option>
            <option value="24">24</option>
          </select>
        </li>
      </ul>
    </div>
  </nav>
</header>
