html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.nav-link {
  color: #ff9729 !important;
}

.navbar{
    height: 35px;
}

.page-selected{
    font-weight: bold;
}

.dropdown-toggle {
  background-color: black;
  color: #ff9729;
  border: 0;
}
