.navbar-brand {
  display: inline-flex;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
}

.main {
  margin-top: 110px;
}
.fa,
.fas,
.far {

}
