<h1 id="title" class="led centre-text">Examples</h1>
<div class="container">
  <h4 class="led">Home Display</h4>
  <p>Turn you spare screen or tv into a always live departure board. So at a quick glance you can see the next train to
    where you want to go. <br>Or watch the trains come and go from the comfort of your own home</p>
  <img src="/assets/Ideas/ideas_home_tv.jpg" alt="Home TV" height="400" class="center" />
  <br>
  <h4 class="led">Google Home Hub</h4>
  <p>You can cast your screen to any chromecast device and view your local station on the table top. Just cast the
    website like any other chromecast content</p>
  <img src="/assets/Ideas/ideas_google_home.jpg" alt="Google Home Hub" height="400" class="center" />
  <br>
  <h4 class="led">Use on the Go</h4>
  <p>Often you are at the station and need to know when the next train is and what platform it is on. Normally you would
    have to open an app on your phone and search for a specific journey. Instead you could save a link of your most
    popular stations, and then quickly open it up on your phone to find the next train.</p>
  <img src="/assets/Ideas/ideas_mobile.png" alt="Mobile Phone" height="400" class="center" />
</div>
<app-components-footer></app-components-footer>
