/* You can add global styles to this file, and also import other style files */
html, body {
  background-color: var(--backgroundColour);
}

body {
  margin-left: 5px;
}

html {
  overflow-x: hidden;
}

.led {
  font-family: 'ledfont', Arial, sans-serif;
  color: var(--mainColour);
}

.footer {
  color: var(--mainColour);;
  text-align: right;
  font-size: 0.3em;
}

.inline-row {
  display: inline;
}

.status {
  text-align: right;
  float: right;
  padding-right: 10px;
  padding-left: 10px;
}

.ontime {
  color: #00d619;
}

.late {
  color: #ff1f1f;
}

.arrived {
  color: #c842f5;
}

.info {
  font-size: 2em;
  white-space: nowrap;
}

.time {
  text-align: center;
  padding-top: 50px;
  font-size: 4em;
}

.Row {
  display: table;
}

.Column {
  display: table-cell;
}

.centre-text {
  text-align: center;
}
.clickable{
  cursor: pointer;
}

.orangeBtn {
  background-color: var(--mainColour);
  color: black;
}

.orangeReverseBtn {
  border: 2px solid var(--mainColour);
  border-color: var(--mainColour);
  color: var(--mainColour);
}