@import url('assets/sofbox-sass-black/css/flaticon.css');
@import url('assets/sofbox-sass-black/css/typography.css');
@import url('assets/sofbox-sass-black/revslider/css/settings.css');
@import url('assets/sofbox-sass-black/css/style.css');
@import url('assets/sofbox-sass-black/css/responsive.css');
.main-bg{
  background-size: cover;
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  background-color: var(--backgroundColour);
  /* scrollbar-width: none; */
  /* -ms-overflow-style: none; */
}

body {
  margin-left: 5px;
}

html {
  overflow-x: hidden;
}

/* tui-root > tui-scroll-controls {
  display: none;
} */

.led {
  font-family: "LEDBOARD3", Arial, sans-serif;
  color: var(--mainColour);
}

.led-font {
  font-family: "LEDBOARD3", Arial, sans-serif;
}

.led-bold {
  font-family: "LEDBOARD3-BOLD", Arial, sans-serif;
  color: var(--mainColour);
}

.footer {
  color: var(--mainColour);
  text-align: right;
  font-size: 0.3em;
}

.inline-row {
  display: inline;
}

.status {
  text-align: right;
  float: right;
  padding-right: 10px;
  padding-left: 10px;
}

.ontime {
  color: #00d619;
}

.late {
  color: #ff1f1f;
}

.arrived {
  color: #c842f5;
}

.cancelled {
  color: #00d2f2;
}

.info {
  font-size: 2em;
  white-space: nowrap;
}

.time {
  text-align: center;
  padding-top: 50px;
  font-size: 4em;
}

.Row {
  display: table;
}

.Column {
  display: table-cell;
}

.centre-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.clickable {
  cursor: pointer;
}

.orangeBtn {
  background-color: var(--mainColour);
  color: black;
}

.orangeReverseBtn {
  border: 2px solid var(--mainColour);
  border-color: var(--mainColour);
  color: var(--mainColour);
}
