/* You can add global styles to this file, and also import other style files */
html {
  background-color: black;
}

.led {
  font-family: 'ledfont', Arial, sans-serif;
  color: #ff9729;
}

.inline-row {
  display: inline;
}

.status {
  text-align: right;
  float: right;
  padding-right: 10px;
  padding-left: 10px;
}

.ontime {
  color: #00d619;
}

.late {
  color: #ff1f1f;
}

.arrived {
  color: #c842f5;
}

.info {
  font-size: 2em;
  white-space: nowrap;
}
.time {
  text-align: center;
  padding-top: 50px;
  font-size: 4em;
}
.Row {
  display: table;
}

.Column {
  display: table-cell;
}
