<h1 id="title" class="led centre-text">About Departureboard Admin</h1>
<div class="container">
  <h4 class="led">About</h4>
  <p>
    Departure Board Admin allows you to remotely control your boards from a
    different device. Once you register your board using the unique id you can
    change what content is being displayed from anywhere in the world on any
    device.
  </p>
  <h4 class="led">How to Use</h4>
  <ol>
    <li>
      First you will need to login . To do this just click login at the top
      right of the page. This will need to be the same account as departure
      board admin.
    </li>
    <li>
      You should now go to
      <a href="https://admin.leddepartureboard.com" target="_blank"
        >https://admin.leddepartureboard.com</a
      >
      and login using the same account.
    </li>
    <li>
      Then on departure board admin click the + button on the top right of the
      menu bar. Then click Add New Board.
    </li>
    <li>
      You should now give your board a name and choose a station and any other
      configuration. Once done click Save to add your new board, a message
      should pop up with a unique id (It is also shown on the boards page).
    </li>
    <li>
      Copy this id and then go to
      <a href="https://www.leddepartureboard.com/settings" target="_blank"
        >https://www.leddepartureboard.com/settings</a
      >
      on the device you want to setup. Click on the Departure Admin section and
      paste the id into the Unique Id field, Then enable the Enable board slider
      and then click Save.
    </li>
    <li>
      As long as your logged in correctly then the board should instantly go to
      the page you configured in departure board admin.
    </li>
    <li>
      Now that you have setup the board you can visit the boards page in
      departureboard admin and click edit and mess around with the different
      configuration options.
    </li>
  </ol>
  <h4 class="led">Tips</h4>
  <ul>
    <li>
      You can visit
      <a href="https://admin.leddepartureboard.com" target="_blank"
        >https://admin.leddepartureboard.com</a
      >
      on your phone and do all the same functions you could from your computer.
    </li>
    <li>
      If you have multiple boards that you want to configure the same then
      <a href="https://admin.leddepartureboard.com/add/group" target="_blank"
        >Add a new group</a
      >
      to have the configuration in one place.
    </li>
  </ul>
  <h4 class="led">Groups</h4>
  <ol>
    <li>
      To add a new group click the + icon on departure board admin and click
      <a href="https://admin.leddepartureboard.com/add/group" target="_blank"
        >Add a new group</a
      >
    </li>
    <li>
      Give the group a name and configure it how you want it. Then tick the
      boards you want to add to the group. Once done click save.
    </li>
    <li>
      You should now notice all the boards you added to the group should
      instantly change to the group config. The board config will be ignored
      when they are in a group.
    </li>
  </ol>
  <p>
    You can remove a board from a group by editing the group and unticking the
    board. When you click save the board should revert back to the board config.
  </p>
  <h4 class="led">Need Help</h4>
  <p>
    If you have any problems or questions please email me at
    <strong
      ><a
        href="mailto:info@leddepartureboard.com?subject=Led Departure Board - Departure Board Admin"
        target="_blank"
        >info@leddepartureboard.com</a
      ></strong
    >
  </p>
</div>
