.singleboard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:100%;
}

.status {
  text-align: right;
  float: right;
  padding-right: 10px;
  padding-left: 10px;
  }

.tab{
  margin-right:50px;
}
.tab2 {
  margin-right: 70px;
}
.ontime {
  color: #00d619;
}

.late {
  color: #ff1f1f;
}
.info {
  font-size: 2em;
  white-space: nowrap;
}
.time {
  text-align:center;
  padding-top:50px;
  font-size:4em;
}
