.board-container {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.hr {
  display: block;
  height: 4px;
  border: 4px solid black;
  margin: 1em 0;
  padding: 0;
  width: 100%;
  margin: 0;
}
