<div class="container">
  <h2 class="led-bold centre-text title" style="padding-left: 10px;">
    Coming Soon
  </h2>
  <div class="item highlight">
    <h5 class="centre-text">
      <strong>Departure Board Admin</strong>
      <a
        style="margin-left: 15px;"
        class="badge badge-pill badge-primary"
        href="https://admin.leddepartureboard.com"
        target="_blank"
        >Beta</a
      >
    </h5>
    <p class="centre-text">
      A new webapp to manage your boards remotely with instant live updates. To
      get started check out the
      <a [routerLink]="['/about/departureboard-admin']">About Page</a>
    </p>
  </div>
  <div class="item">
    <h5 class="centre-text">
      <strong>Bus Data</strong>
      <!-- <a
        style="margin-left: 15px;"
        class="badge badge-pill badge-primary"
        [routerLink]="['/buses']"
        >Beta</a
      > -->
    </h5>
    <p class="centre-text">
      A new datasource of all uk bus data displayed on a new type of board
    </p>
  </div>
</div>
