<div class="container">
  <h2 class="led-bold centre-text title" style="padding-left: 10px;">
    Coming Soon
  </h2>
  <div class="item">
    <h5 class="centre-text">
      <strong>Feedback Section</strong>
    </h5>
    <p class="centre-text">
      A new page to provide user feedback to help improve the webapp.
    </p>
  </div>
  <div class="item">
    <h5 class="centre-text">
      <strong>Drag & Drop Board Builder</strong>
    </h5>
    <p class="centre-text">
      A new drag and drop board builder to combine different board types
      together to create custom displays
    </p>
  </div>
</div>
