<div
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutGap="30px"
  fxLayoutAlign="center"
>
  <mat-card *ngFor="let news of newsItems" fxFlex="25%">
    <h3 class="tui-island__title">{{ news.title }}</h3>
    <p
      class="tui-island__paragraph"
      [innerHtml]="news.content"
      routeTransformer
    ></p>
    <p
      class="tui-island__paragraph tui-island__paragraph_link"
      *ngIf="news.titleLink"
    >
      <a
          mat-button
          type="button"
          class="tui-island__footer-button"
          appearance="flat"
          [href]="news.titleLink"
          target="_blank"
      >
        More Info
      </a>
    </p>
  </mat-card>
</div>
