<div class="container">
  <h2 id="news-title" class="led centre-text" style="padding-left:10px;">News</h2>
  <div class="news-item">
    <h6 class="centre-text"><strong>No Departures Found Message</strong></h6>
    <p class="centre-text">A message stating no departures found will appear when the server cannot get any departures.</p>
  </div>
  <div class="news-item">
    <h6 class="centre-text"><strong>New Search feature has been added</strong></h6>
    <p class="centre-text">This allows you to easily search for the station you want to view.</p>
  </div>
  <div class="news-item">
    <h6 class="centre-text"><strong>Platform Filter</strong></h6>
    <p class="centre-text">You can now filter the board to show a specific platform by adding <strong>?platform=</strong> followed by the platform number. <strong>E.g ?platform=3</strong></p>
  </div>
</div>
