<div class="container">
  <h2 id="news-title" class="led-bold centre-text" style="padding-left: 10px">
    News
  </h2>
  <div *ngFor="let news of newsItems">
    <div
      class="news-item"
      [ngClass]="{ 'news-highlight': news.isHighlighted === true }"
    >
      <h5 class="centre-text">
        <strong>{{ news.title }}</strong>
      </h5>
      <p class="centre-text" [innerHtml]="news.content" routeTransformer></p>
    </div>
  </div>
</div>

<!-- <div class="container">
  <h2 id="news-title" class="led-bold centre-text" style="padding-left: 10px;">
    News
  </h2>
  <div class="news-item news-highlight">
    <h5 class="centre-text">
      <strong>Departure Board Admin</strong>
    </h5>
    <p class="centre-text">
      A new
      <a href="https://admin.leddepartureboard.com" target="_blank">webapp</a>
      to manage your boards remotely with instant live updates. To get started
      check out the
      <a [routerLink]="['/about/departureboard-admin']">About Page</a>
    </p>
  </div>
  <div class="news-item">
    <h5 class="centre-text">
      <strong>Bus Data</strong>
    </h5>
    <p class="centre-text">
      A new datasource of all uk bus data displayed on a new type of board. To
      get started visit <a [routerLink]="['/buses']">/buses</a>
    </p>
  </div>
  <div class="news-item">
    <h5 class="centre-text">
      <strong>Alternating Singleboard Second Row</strong>
    </h5>
    <a class="centre-text">
      The singleboard now alternates the second row between 2nd and 3rd
      departure. You can turn this off in the singleboard section of
      <a [routerLink]="['/settings']">settings</a>
    </a>
  </div>
</div> -->
