.board {
  width: 300px;
  height: 510px;
  padding: 0;
  padding-left: 5px;
  font-family: ellipsis-font, Railway, sans-serif;
  margin: 0;
}

@font-face {
  font-family: 'ellipsis-font';
  src: url('../../../fonts/ledfont3/DotMatrix.woff') format('woff');
  font-style: normal;
  unicode-range: U+2026;
}


.top-card-section {
  height: 135px;
  padding: 6px;
  width: 100%;
}

.top-card-arrived {
  background-color: #00ab39;
}

.top-card-normal {
  background-color: #008cff;
}

.top-card-late {
  background-color: #dd42f5;
}

.top-card-cancelled {
  background-color: #d21010;
}

.carImage {
  position: absolute;
  bottom: 40px;
  font-size: 18px;
}
