.board {
  width: 300px;
  height: 500px;
  padding: 0;
  padding-left: 5px;
  font-family: 'Open Sans', 'Railway', sans-serif;
  margin: 0;
}

.top-card-section {
  height: 135px;
  padding: 6px;
  width: 100%;
}

.top-card-arrived {
  background-color: #00cc72;
}

.top-card-normal {
  background-color: #004afa;
}

.top-card-late {
  background-color: #dd42f5;
}

.top-card-cancelled {
  background-color: #a70105;
}
