#setting-types {
  padding: 5px;
  border: 1px solid #ff9729;
  border-radius: 8px;
}
#setting-types mat-action-list button{
    margin-bottom: 5px;
}
.orange {
  color: #ff9729 !important;
  border: 1px solid #ff9729;
  border-radius: 8px;
}
.row {
  color: #ff9729;
}

/* input color class */
::ng-deep input.mat-input-element {
  color: #ff9729;
}

/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #ff9729 !important;
}

/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #ff9729 !important;
}

#btnSave {
  background-color: #ff9729;
  color: black;
  margin-top: 5px;
}

label{
    padding-right: 20px;
}
