<h1 id="title" class="led centre-text">Settings</h1>
<div class="row">
  <div class="col-md-2 col-sm-12">
    <mat-list id="setting-types" class="orange">
      <mat-action-list>
        <button mat-list-item [routerLink]="['/settings/general']" class="orange">
          General
        </button>
        <button mat-list-item [routerLink]="['/settings/mainboard']" class="orange">
          Main Board
        </button>
        <button mat-list-item [routerLink]="['/settings/singleboard']" class="orange">
          Single Board
        </button>
        <button mat-list-item [routerLink]="['/settings/departureadmin']" class="orange">
          Departure Admin
        </button>
        <button mat-list-item [routerLink]="['/settings/buses']" class="orange">
          Buses
          <span style="margin-left: 15px" class="badge badge-pill badge-primary">Beta</span>
        </button>
        <button mat-list-item [routerLink]="['/settings/announcements']" class="orange">
          Announcements
          <span style="margin-left: 15px" class="badge badge-pill badge-primary">Beta</span>
        </button>
      </mat-action-list>
    </mat-list>
  </div>

  <form class="col" [formGroup]="settingsForm" (ngSubmit)="Save()" ngNativeValidate>
    <div id="settings-general container" *ngIf="settingsType == 'general'">
      <app-settings-general [formGroup]="settingsForm"></app-settings-general>
    </div>
    <div id="settings-mainboard" *ngIf="settingsType == 'mainboard'">
      <app-settings-mainboard [formGroup]="settingsForm"></app-settings-mainboard>
    </div>
    <div id="settings-singleboard" *ngIf="settingsType == 'singleboard'">
      <app-settings-singleboard [formGroup]="settingsForm"></app-settings-singleboard>
    </div>
    <div id="settings-departureadmin" *ngIf="settingsType == 'departureadmin'">
      <app-settings-departureadmin [formGroup]="settingsForm"></app-settings-departureadmin>
    </div>
    <div id="settings-buses" *ngIf="settingsType == 'buses'">
      <app-settings-buses [formGroup]="settingsForm"></app-settings-buses>
    </div>
    <div id="settings-announcements" *ngIf="settingsType == 'announcements'">
      <app-settings-announcements [formGroup]="settingsForm"></app-settings-announcements>
    </div>

    <button mat-raised-button id="btnSave" class="btnGreen" type="submit" style="margin-right: 5px">
      Save
    </button>
    <button mat-raised-button id="btnReset" class="btnRed" (click)="ResetAll()">
      Reset All
    </button>
  </form>
</div>
