<div class="boards">
  <h1 class="led centre-text" *ngIf="showStationName">{{ stationName }}</h1>
  <div [ngClass]="{'boards-center': boardsCenter}">
    <div class="row">
      <template #Boards></template>
    </div>
  </div>

  <div *ngIf="isLoading">
    <div class="row" [ngClass]="{'boards-center': boardsCenter}">
      <div *ngFor="let i of ' '.repeat(displays).split('')">
        <app-board-skeleton></app-board-skeleton>
      </div>
    </div>
  </div>

  <h1 class="led centre-text" *ngIf="noBoardsDisplay">
    No Departures Found for {{ stationName || stationCode }}
  </h1>
  <h1 class="led-bold time clickable" [routerLink]="['/']" *ngIf="showClock">
    {{ time | date: "HH:mm:ss" }}
  </h1>

</div>
