.singleboard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.led {
  font-family: "LondonUnderground-Regular", Arial, sans-serif;
}

span {
  font-size: 32px;
}

@media screen and (max-width: 576px) {
  span {
    font-size: 24px;
  }

  .row {
    margin-bottom: 15px;
  }
}

.time {
  font-size: 34px;
}
