<h1 class="led centre-text" *ngIf="noBoardsDisplay">
  No Departures Found for *****blah*****
</h1>
<div class="singleboard">
  <h1 id="title" class="led centre-text" *ngIf="showStopName">
    {{ stopName }}
  </h1>
  <div class="row" *ngFor="let departure of departures; index as i">
    <span class="led col-md-1 col-sm-1">{{ i + 1 }}</span>
<!--    <span class="led col-md-2 col-sm-12" style="overflow: hidden;" [ngStyle]="GetLineColour(departure)">{{ departure.line }}</span>-->
    <span class="led col-md-9">
      {{ departure.destination }}
    </span>
    <span class="led col-md-2 col-sm-2 status">
<!--      {{ CalculateStatus(departure) }}-->
      {{departure.status}}
    </span>
  </div>

  <h1 class="led time clickable" [routerLink]='["/"]' *ngIf="showClock">
    {{ time | date: 'HH:mm:ss' }}
  </h1>
</div>
