<h1 class="led centre-text" *ngIf="noBoardsDisplay">
  No Departures Found for *****blah*****
</h1>
<div class="singleboard">
  <h1 id="title" class="led centre-text" *ngIf="showStopName">
    {{ stopName }}
  </h1>
  <div class="row" *ngFor="let departure of departures; index as i">
    <span class="led col-lg-1 col-1">{{ i + 1 }}</span>
    <span class="led col">
      {{ departure.destination }}
    </span>
    <span class="led col-lg-2 col-md-3 col-4 status">
      {{departure.status}}
    </span>
  </div>

  <h1 class="led time clickable" [routerLink]='["/"]' *ngIf="showClock">
    {{ time | date: 'HH:mm:ss' }}
  </h1>
</div>
