<div class="board led col">
  <div class="board-row">
    <h5 class="inline-row led">{{DepartureTime | date: 'HH:mm'}}</h5>
    <h5
      class="inline-row status clickable led"
      (click)="FilterPlatform(Platform)"
      *ngIf="Platform && Platform != '0'"
    >
      Platform {{Platform}}
    </h5>
  </div>
  <div class="board-row">
    <div
      class="inline-row clickable no-wrap destination"
      (click)="ChangeStation(Destination)"
    >
      {{Destination}}
    </div>
  </div>
  <table class="stops">
    <tr class="board-row">
      <td class="inline-row stop">Calling at:</td>
      <td class="inline-row status stop">{{CurrentPage}}/{{TotalPages}}</td>
    </tr>
    <tr class="board-row stop-row" *ngFor="let stop of DisplayedStops">
      <td class="inline-row stopname-cell stopname clickable stop" (click)="ChangeStation(stop.StationName)">
        {{stop.StationName}}
      </td>
      <td class="inline-row status stop stop-time">
        {{stop.Time | date: 'HH:mm'}}
      </td>
    </tr>
  </table>
  <div class="board-row bottom">
    <div
      [ngClass]="{ 'ontime': Status=='On Time', 'late': (Status?.includes('Exp') || Status === 'Late'), 'arrived': Status=='Arrived', 'cancelled': Status=='Cancelled'}"
    >
      {{Status}}
    </div>
    <div class="operator" [innerHtml]="information"></div>
  </div>
</div>
