<div class="singleboard">
  <h1 id="title" class="led centre-text" *ngIf="showStationName">{{stationName}}</h1>
  <h1 class="led centre-text" *ngIf="noBoardsDisplay">No Departures Found for {{stationCode}}</h1>
  <div class="singleboard-row">
    <h1 class="led inline-row tab">1st</h1>
    <h1 class="led inline-row tab2">{{firstTime  | date: 'HH:mm'}}</h1>
    <h1 class="led inline-row tab clickable" (click)="FilterPlatform(firstPlatform)">{{firstPlatform}}</h1>
    <h1 class="led inline-row tab clickable" (click)="ChangeStation(firstDestination)">{{firstDestination}}</h1>
    <h1 class="led inline-row status" [ngClass]="{ 'ontime': firstStatus=='On Time', 'late': firstStatus.includes('Exp'), 'arrived': firstStatus=='Arrived', 'cancelled': firstStatus=='Cancelled'}">{{firstStatus}}</h1>
  </div>
  <div class="singleboard-row">
    <div id="singleboard-information" class="led info" style="height:48px;"></div>
  </div>
  <div class="singleboard-row">
    <h1 class="led inline-row tab">2nd</h1>
    <h1 class="led inline-row tab2">{{secondTime  | date: 'HH:mm'}}</h1>
    <h1 class="led inline-row tab clickable" (click)="FilterPlatform(secondPlatform)">{{secondPlatform}}</h1>
    <h1 class="led inline-row tab clickable" (click)="ChangeStation(secondDestination)">{{secondDestination}}</h1>
    <h1 class="led inline-row status" [ngClass]="{ 'ontime': secondStatus=='On Time', 'late': secondStatus.includes('Exp'), 'arrived': secondStatus=='Arrived', 'cancelled': secondStatus=='Cancelled'}">{{secondStatus}}</h1>
  </div>
  <h1 class="led time clickable" [routerLink]='["/"]' *ngIf="showClock">{{ time | date: 'HH:mm:ss' }}</h1>
</div>
