<div class="singleboard" [ngClass]="{'singleboard-absolute': positionAbsolute}">
  <h1 id="title" class="led centre-text" *ngIf="boardParams.showStationName">
    {{stationName}}
  </h1>
  <div class="row" *ngIf="firstRow">
    <h1 class="led col-md-1 col-sm-12">1st</h1>
    <h1 class="led col-md-1 col-sm-12">
      {{firstRow.aimedDeparture | date: 'HH:mm'}}
    </h1>
    <h1
      class="led col-md-1 col-sm-12 clickable"
      (click)="FilterPlatform(firstRow.platform)"
    >
      {{firstRow.platform}}
    </h1>
    <h1
      class="led col-md-7 col-sm-12 clickable"
      (click)="ChangeStation(firstRow.destination)"
    >
      {{firstRow.destination}}
    </h1>
    <h1
      class="led col-md-2 status"
      [ngClass]="{ 'ontime': firstRow.status =='On Time', 'late': firstRow.status?.includes('Exp'), 'arrived': firstRow.status=='Arrived', 'cancelled': firstRow.status=='Cancelled'}"
    >
      {{firstRow.status}}
    </h1>
  </div>
  <div class="row">
    <div
      id="singleboard-information"
      class="led info col-12"
      style="height: 48px"
    ></div>
  </div>
  <app-departure-scroller
    [departures]="nextDepartures"
    [enableScoll]="alternateSecondRow"
    [useArrivals]="useArrivals"
  ></app-departure-scroller>
  <h1
    class="led time clickable"
    [routerLink]='["/"]'
    *ngIf="boardParams.showClock"
  >
    {{ time | date: 'HH:mm:ss' }}
  </h1>
</div>
