<div class="departure-row" id="departure-scroller">
  <h1 class="led departure-ordinal clickable" (click)="changeDeparture()" [ngStyle]="{'font-size': fontSize}">
    {{ getNumberWithOrdinal(currentCount) }}
  </h1>
  <h1 class="led departure-time" [ngStyle]="{'font-size': fontSize}">{{ currentTime | date: "HH:mm" }}</h1>
  <h1
    class="led departure-platform clickable"
    [ngStyle]="{'font-size': fontSize}"
    (click)="FilterPlatform(currentPlatform)"
  >
    {{ showPlatforms ? currentPlatform : '' }}
  </h1>
  <h1
    class="led departure-destination clickable"
    [ngStyle]="{'font-size': fontSize}"
    (click)="ChangeStation(currentDestination)"
  >
    {{ currentDestination }}
  </h1>
  <h1
    class="led departure-status status"
    [ngStyle]="{'font-size': fontSize}"
    [ngClass]="{
      ontime: currentStatus == 'On Time',
      late: currentStatus?.includes('Exp'),
      arrived: currentStatus == 'Arrived',
      cancelled: currentStatus == 'Cancelled'
    }"
  >
    {{ currentStatus }}
  </h1>
</div>
