#title{
  margin-top: 10px;
  margin-bottom:20px;
}
.container {
  color: #ff9729;
}

@media only screen and (max-width: 960px) {
  .mobile-flip {
    display: flex;
    flex-direction: column-reverse;
  }
}
