#title{
  margin-top: 10px;
  margin-bottom:20px;
}
.container {
  color: #ff9729;
}

@media only screen and (max-width: 960px) {
  .mobile-flip {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media only screen and (min-width: 960px) {
  .mobile-only {
    display: none;
  }
}

.orange-border {
  border: 2px solid #ff9729;
  border-radius: 8px;
  color: #ff9729;
  padding: 10px;
}
